<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.MeCore.mecore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeCore"
        tools:targetApi="31">

        <activity
            android:name="com.MeCore.mecore.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.MeCore.mecore.RegisterActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MeCore.mecore.LoginActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MeCore.mecore.GameSelectingActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MeCore.mecore.MainActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MeCore.mecore.UserProfileActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MeCore.mecore.ProfileActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MeCore.mecore.ChatListActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MeCore.mecore.ChatActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.MeCore.mecore.SearchUserProfileActivity"
            android:exported="true" />

        <activity
            android:name="com.MeCore.mecore.SearchChatActivity"
            android:exported="true" />
        <activity android:name="com.MeCore.mecore.FriendRequestsActivity" />
        <activity
            android:name="com.MeCore.mecore.CallActivity"
            android:exported="true" />
    </application>
</manifest>